#widget{
	font-family: "avenirroman", Arial, sans-serif;
	max-width: 1280px;
	margin: 20px auto 10px auto;
	position: relative;
	overflow: hidden;

	.frame {

		.first-item {
			float: left;
		    width: 25%;
		    padding: 20px auto 10px auto;
	
			.title {
			    color: #444;
			    font-size: 25px;
			    position: relative;
			    margin: 0 0 10px 10px;
			    padding-bottom: 5px;
			}
			.title:after {
			    background: #fb7497;
				content: '';
			    position: absolute;
			    width: 50px;
			    height: 2px;
			    bottom: 0;
			    left: 0;
			}
			.percent-text {
			    font-size: 13px;
			    color: #FB7497;
			    text-transform: uppercase;
			    height: 20px;
			    line-height: 20px;
			    text-align: center;
			}
			.box{
				margin: 5px 5px 10px 5px;
    			padding: 10px;


				.product {
				    position: relative;

				    .image-product{
				    	width: 100%;
				    }
				    .image-recently{
				    	border: 1px solid #fb7397;
				    }

				}
				.infos{

					.colors-product {
						height: 14px;
						width: 32px;
						border: 1px solid black;
						margin-left: 2px;
						margin-top: 4px;

					    .carousel-colors {
						    height: 12px;
							width: 30px;
						    margin: 1px;
						}		
						.biege{
							background-color: #F4CE9D;
						}
					}
					
					.product-name {
					    .name{
					    	color: #444;
						    display: block;
						    margin: 15px 0 5px 0;
						    font-size: 13px;
						    line-height: 17px;
					    }
					    a{
							outline: none;
							text-decoration: none;
						}
					}

					.prices{
						a{
							color: #444;
						    font-size: 18px;
						    font-family: "avenirheavy", Arial, sans-serif;
						    text-decoration: none;
						}
					}

				}
			}
			.box:hover{
				box-shadow: 0 0 5px rgba(0,0,0,0.1);
			}
		}



		.carousel{
			float: right;
		    width: 75%;
		    padding: 20px auto 10px auto;

    		.title {
			    color: #444;
			    font-size: 25px;
			    position: relative;
			    margin: 0 0 10px 10px;
			    padding-bottom: 5px;
			}

			.percent-text {
			    font-size: 13px;
			    color: #FB7497;
			    text-transform: uppercase;
			    height: 20px;
			    line-height: 20px;
			    text-align: center;
			}

			.box-carousel{
				width: 32%;
				float: left;
			}
			.box{
				margin: 5px auto 10px auto;
    			padding: 10px;

				.product {
				    position: relative;

				    .image-product{
				    	width: 100%;
				    }
				    .image-recently{
				    	border: 1px solid #fb7397;
				    }

				}
				.infos{

					.colors-product {
						height: 14px;
						width: 32px;
						margin-left: 2px;
						border: 1px solid black;
						margin-top: 4px;

					    .carousel-colors {
						    height: 12px;
							width: 30px;
						    margin: 1px;
						}	
						.biege{
							background-color: #F4CE9D;
						}
						.white{
							background-color: white;
						}
					}
					
					.product-name {
					    .name{
						    color: #444;
						    display: block;
						    margin: 15px 0 5px 0;
						    font-size: 13px;
						    line-height: 17px;
					    }
					    a{
							outline: none;
							text-decoration: none;
						}
					}

					.prices{
						a{
							color: #444;
						    font-size: 18px;
						    font-family: "avenirheavy", Arial, sans-serif;
						    text-decoration: none;
						}
					}

				}
			}
			.box:hover{
				box-shadow: 0 0 5px rgba(0,0,0,0.1);
			}
		}
	}
}


@media (max-width: 768px){
	#widget{

		.frame {
			.first-item {
				float: left;
				width: 100%;
				padding: 20px auto 10px auto;
			    position: relative;
			    overflow: hidden;
		    }

		    .carousel{
		    	float: right;
			    width: 100%;
			    padding: 20px auto 10px auto;
	    		position: relative;
	    		overflow: hidden;

	    		.box-carousel{
					width: 100%;
					float: left;
					display: table;
				}
		    }
		}
	}

}